@import '../../styles/config/mixin.scss';

.cart_product {
  display: grid;
  grid-gap: 44px;
  grid-template-columns: minmax(150px, 400px) minmax(150px, 1fr);
  padding: 50px 0px;
  border-bottom: 1px solid #dddddd;

  &:nth-last-child(1) {
    border: none;
  }
  @media (max-width: 768px) {
    display: block;
  }
  .cart_product_img {
    position: relative;
    img {
      border: 1px solid rgba(202, 45, 45, 0.125);
      border-radius: 10px;
      padding: 2px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cart_product_title {
    @include break-word();
    hyphens: auto;
    font-size: 32px;
    margin-bottom: 40px;
  }

  .cart_product_like_icon {
    color: #d1d1d1f2;
    transition: 0.3s ease-in-out all;
    &:hover {
      color: #2297e6;
    }
  }
  .cart_product_price {
    font-size: 24px;
    color: rgb(226, 117, 103);
  }

  .form_input_cart_product_quantity {
    display: grid;
    grid-template-columns: repeat(2, minmax(40%, 1fr));
    grid-column-gap: 5px;
    margin-bottom: 0;
  }
  .btn.btn_cart_product--remove {
    display: inline;
    color: blue;
    padding: 0;
    text-align: left;
    outline: none;
    box-shadow: none;
  }
}

.input-group {
  width: 25%;
  @media (max-width: 768px) {
    width: 70%;
  }
}
