.card {
  border: none;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;

  &.card-body > .card-title {
    font-weight: 400;
  }
}

.card_product_price {
  margin: 0;
  padding-bottom: 20px;
  font-size: 1.2em;
}

.card-img,
.card-img-top {
  border-top-left-radius: none;
  border-top-right-radius: none;
}
