.card {
  border: none;
  text-align: center;
}

.card-body > .card-title {
  font-weight: 400;
}

.card-text {
  color: rgba(202, 45, 45, 0.8);
}

.card_description {
  p {
    margin: 0;
    padding-bottom: 20px;
    font-size: 1.5em;
  }
}

.card-img,
.card-img-top {
  border-top-left-radius: none;
  border-top-right-radius: none;
}
