.navbar {
  .nav_link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    min-width: 50px;
    transition: all 0.5 ease-in;
  }
  width: 100%;
}

.cart_has_products {
  position: absolute;
  width: 50%;
  width: 50%;
  top: -2%;
  right: -8%;
  border-radius: 50%;
  color: white;
  background-color: red;
  text-align: center;
}
